/* LAYOUT */
@import "layout/header.css";
@import "layout/footer.css";

/* PAGES */
@import "./pages/auth.css";
@import "pages/game.css";

/* BASE */
body {
    margin: 0;
    background: #0f3f7a;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
